*{
    border: 0;
    margin: 0;
    padding: 0;
}

body {
   
    height: 100vh;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-image: url(imagem/427757-Kycb_1920x1080.jpg);
    background-size: cover;
    flex-direction: column;
}

.gif {
    max-width: 250px;
    
    
}

.textos {
    width: 380px;
    height: 300px;
    padding: 10px;
}
.textos p {
    padding: 15px;
}
.texto {
    font-size: 20px;
    color: aliceblue;
    margin-top: 30px;
}



h1 {
    font-family: "Playwrite PL", cursive;
    font-size: 2rem;
    color: rgb(255, 0, 0); 
    text-shadow: 0 0 15px rgb(255, 2, 2);
    padding: 15px;
}

.botao {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    
    background-color: rgba(38, 0, 255, 0.884);
    border-style: none;
    padding: 5px 10px;
}
